__pycache__/
*.pyc

# Django

*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Environment variables
.env

# Database
db.sqlite3
db.sqlite3-journal

# Media
/media

# Static files
/staticfiles

# Django migrations
*/migrations/*

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db