[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
redis = "*"
stripe = "*"
django-environ = "*"
requests = "*"
psycopg2-binary = "*"
environ = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
pytest-django = "*"
model-bakery = "*"
locust = "*"
django-silk = "*"
cryptography = "*"

[requires]
python_version = "3.12"
